[submodule "/Users/sjkim/.oh-my-zsh/custom/themes/spaceship-prompt"]
	path = /Users/sjkim/.oh-my-zsh/custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "/Users/sjkim/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = /Users/sjkim/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
